**/build/
*.apk
*.aab
*.ap_
*.dex
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
.idea/
*.iml
*.iws
*.ipr
local.properties
.externalNativeBuild/
.cxx/
.DS_Store
Thumbs.db
desktop.ini
/captures/
*.hprof
*.jks
*.keystore
